@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  font-family: "Karla", sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #e6eff6;
}
